@include mediaSm {
  main {
    .lg-heading {
      margin-top: 10vh;
    }
    .sm-heading {
      font-size: 1rem;
    }
  }
  .projects {
    grid-template-columns: 1fr;
  }
}

@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
    .about-info {
      grid-template-areas:
        "about-image"
        "about-bio"
        "job-1"
        "job-2"
        "job-3";
      grid-template-columns: 1fr;
    }
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  ul.menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  div.menu-branding {
    height: 25vh;
    transform: translate3d(-100%, 0, 0);
    .portrait {
      width: 150px;
      height: 150px;
      background: url("../images/portrait_small.jpg");
    }
  }
}
@include mediaLg {
}
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
